<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "ApiTests">
    <groups>
        <define name="integration-tests"/>
    </groups>
    <test name = "klv">
        <classes>
            <class name = "org.jmisb.api.klv.BerDecoderTest"/>
            <class name = "org.jmisb.api.klv.BerEncoderTest"/>
            <class name = "org.jmisb.api.klv.FpEncoderTest"/>
            <class name = "org.jmisb.api.klv.KlvParserTest"/>
            <class name = "org.jmisb.api.klv.UniversalLabelTest"/>
        </classes>
    </test>
    <test name = "st0102">
        <classes>
            <class name = "org.jmisb.api.klv.st0102.localset.CcMethodTest"/>
            <class name = "org.jmisb.api.klv.st0102.localset.OcMethodTest"/>
            <class name = "org.jmisb.api.klv.st0102.localset.SecurityMetadataLocalSetTest"/>
            <class name = "org.jmisb.api.klv.st0102.universalset.ClassificationUniversalTest"/>
            <class name = "org.jmisb.api.klv.st0102.universalset.SecurityMetadataUniversalSetTest"/>
            <class name = "org.jmisb.api.klv.st0102.universalset.UniversalSetFactoryTest"/>
        </classes>
    </test>
    <test name = "st0601">
        <classes>
            <class name = "org.jmisb.api.klv.st0601.ChecksumTest"/>
            <class name = "org.jmisb.api.klv.st0601.CornerOffsetTest"/>
            <class name = "org.jmisb.api.klv.st0601.HorizontalFovTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformAngleOfAttackFullTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformHeadingAngleTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformPitchAngleFullTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformPitchAngleTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformRollAngleFullTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformRollAngleTest"/>
            <class name = "org.jmisb.api.klv.st0601.PlatformSideslipAngleFullTest"/>
            <class name = "org.jmisb.api.klv.st0601.PrecisionTimeStampTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorLatitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorLongitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorRelativeAzimuthTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorRelativeElevationTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorRelativeRollTest"/>
            <class name = "org.jmisb.api.klv.st0601.SensorTrueAltitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.SlantRangeTest"/>
            <class name = "org.jmisb.api.klv.st0601.TargetWidthTest"/>
            <class name = "org.jmisb.api.klv.st0601.UasDatalinkAltitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.UasDatalinkLatitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.UasDatalinkLongitudeTest"/>
            <class name = "org.jmisb.api.klv.st0601.UasDatalinkMessageTest"/>
            <class name = "org.jmisb.api.klv.st0601.UasDatalinkStringTest"/>
            <class name = "org.jmisb.api.klv.st0601.VerticalFovTest"/>
        </classes>
    </test>
    <test name = "video">
        <classes>
            <class name = "org.jmisb.api.video.MetadataFrameTest"/>
            <class name = "org.jmisb.api.video.VideoFileInputTest"/>
            <class name = "org.jmisb.api.video.VideoFileOutputTest"/>
            <class name = "org.jmisb.api.video.VideoFrameTest"/>
            <class name = "org.jmisb.api.video.VideoStreamInputTest"/>
            <class name = "org.jmisb.api.video.VideoStreamOutputTest"/>
            <class name = "org.jmisb.api.video.VideoSystemTest"/>
        </classes>
    </test>
</suite>
